@charset "UTF-8";

body {
    background-color: #c5ebd6;
}
body > header {
    background-color: rgb(26, 92, 56);
}

body > header > h1 {
    text-align: center;
    font-family: Consolas;
    color: rgb(207, 221, 213);
}

body > header > p {
    text-align: center;
    color: rgb(207, 221, 213);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:lighter;
}

body > header > nav {
    flex: 1;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
                               
}

body > header > nav a {
    text-decoration:none;
    font-size: 1.0rem;
    font-weight: 700;
    color: aliceblue;

}

body > header > nav a:hover {
    color: darkorange;
}

main {
    background-color: rgb(95, 202, 131);
}


.container {
    background-color:rgb(255, 255, 255);
    width: 50%;
    height: auto;
    margin-left: 25%;
    padding: 10px;
    height: auto;
    position: relative;   
}
body > main > article > #principal {

}

main > article > p {
    text-align: justify;
    text-indent: 30px;
}

main > article > img {
    width: 100%;
}

main > article > picture {
    width: 100%;
}

main > article > iframe {
    background-color:  rgb(26, 92, 56);
    padding: 20px;
    width: 90%;
    margin: auto;
    display: block;
}

body > main > footer {
    background-color: rgb(26, 92, 56);
    font-weight:lighter;
    color: aliceblue;
    text-align: center; 
}

