@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/

}

body {
    background-image: linear-gradient(to right,#FFE19B ,#F5CF70 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(156, 137, 93, 0.595);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #4251A8;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(21, 25, 53, 0.668);

}

h2 {
    color:#AAB0F3 ;

}

p {
    text-align: justify;
}
